

.modal-dialog {
    /* border: 20px rgb(170, 109, 109) solid;         */
    border-radius: 12px ;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: auto;
 }
 .modal-content {
    /* border: 20px blue solid; */
    width:auto;
    border-radius: 12px ;
    position: relative;
    justify-content: center;
    align-items: center;
    padding:10px;
 }

 th,
 td {
    padding: 15px;
 }

 table,
 th,
 td {
    width: auto;
    border: 8px solid black;
    margin-left: auto;
    margin-right: auto;
 }

 .buttonnn {
    border: 10px solid blue;
    border-radius: 12px;
    background-color: turquoise;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 }

 .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;
    height: 500px;
    background: #fff;
    margin: 40px;
 }

 .container .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #212121;
    transition: .3s linear;
 }

 .container .imgBx:before {
    content: 'Nike';
    position: absolute;
    top: 0px;
    left: 24px;
    color: #000;
    opacity: 0.2;
    font-size: 8em;
    font-weight: 800;
 }

 .container .imgBx img {
    position: relative;
    width: 700px;
    transform: rotate(-30deg);
    left: -50px;
    transition: .9s linear;
 }

 .container .details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
 }

 .container .details h2 {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1em;
    color: #444;
 }

 .container .details h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
 }

 .container .details p {
    max-width: 85%;
    margin-left: 15%;
    color: #333;
    font-size: 15px;
    margin-bottom: 36px;
 }

 .container .details h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
    float: left;
 }

 .container .details button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
 }

 .product-colors span {
    width: 26px;
    height: 26px;
    top: 7px;
    margin-right: 12px;
    left: 10px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
 }

 .black {
    background: #000;
 }

 .red {
    background: #D5212E;
 }

 .orange {
    background: #F18557;
 }

 .product-colors .active:after {
    content: "";
    width: 36px;
    height: 36px;
    border: 2px solid #000;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -5px;
    top: -5px;
 }

 /* responsive */
 @media (max-width: 1080px) {
    .container {
       height: auto;
    }

    .container .imgBx {
       padding: 40px;
       box-sizing: border-box;
       width: 100% !important;
       height: auto;
       text-align: center;
       overflow: hidden;
    }

    .container .imgBx img {
       left: initial;
       max-width: 100%;
       transform: rotate(0deg);
    }

    .details {
       width: 100% !important;
       height: auto;
       padding: 20px;
    }

    .container .details p {
       margin-left: 0;
       max-width: 100%;
    }
 }

